@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --offblack: #333;
}

* {
    font-family: "Noto Sans JP", sans-serif;
    color: var(--offblack);
    text-decoration: none;
    margin: 0;
}

header {
    display: flex;
    z-index: 999;
    width: 100%;
    justify-content: space-between;
    padding-top: 1rem;
    background-color: white;
}

header h1 {
    display: block;
    position: relative;
    color: var(--offblack);
    font-weight: 400;
    padding: 1rem 1rem 1rem 6rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .slideshow {
    padding-top: 6rem;
}

.icons {
    padding: 0.8rem 7rem 1rem 1rem;
}

.fab {
    font-size: 1.6rem;
    padding: 1rem 5rem;
}

.slideshow {
    background-image: radial-gradient(rgb(77, 76, 76), #fff 70%);
    margin: 2rem;
    padding: 2rem;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.content-header {
    font-weight: 400;
    text-align: center;
    font-size: 1.8rem;
}

.content {
    padding: 1rem 4rem 4rem 4rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
}

.content-item h3 {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0.7rem;
}

footer {
    text-align: center;
    padding: 3rem 0rem 1.5rem 0rem;
}
